Repository baptiste-jullion/b3-todo, changes with the labels that .github/labeler.yml gives for each.
All labels: api, front, tests

.github/labeler.yml:

# .github/labeler.yml

# Label for API-related changes
api:
  - 'api/**'

# Label for Frontend-related changes
front:
  - 'front/**'

# Label for Test-related changes
tests:
  - 'tests/**'

test
  api/src/index.ts
Labels: api

remove angular app
  front/.gitignore
  front/.vscode/extensions.json
  front/.vscode/launch.json
  front/.vscode/tasks.json
  front/README.md
  front/angular.json
  front/package.json
  front/public/favicon.ico
  front/server.ts
  front/src/app/app.component.html
  front/src/app/app.component.ts
  front/src/app/app.config.server.ts
  front/src/app/app.config.ts
  front/src/app/app.routes.ts
  front/src/app/components/Card/Note.component.html
  front/src/app/components/Card/Note.component.ts
  front/src/app/components/Input/CreateNote.component.html
  front/src/app/components/Input/CreateNote.component.ts
  front/src/app/components/Input/ReminderDialog.component.html
  front/src/app/components/Input/ReminderDialog.component.ts
  front/src/app/services/Note.service.ts
  front/src/index.html
  front/src/main.server.ts
  front/src/main.ts
  front/src/styles.css
  front/tailwind.config.ts
  front/tsconfig.app.json
  front/tsconfig.json
  front/tsconfig.spec.json
Labels: front

chore: Update .gitignore to include .output directory
  .gitignore
Labels: none

feat: Integrate Naive UI components and update configuration
  bun.lockb
  front/app.vue
  front/nuxt.config.ts
  front/package.json
  front/plugins/naive-ui.ts
Labels: front

feat: Initialize Nuxt.js frontend with Tailwind CSS
  api/package.json
  bun.lockb
  front/.prettierrc
  front/app.vue
  front/assets/css/tailwind.css
  front/nuxt.config.ts
  front/package.json
  front/public/favicon.ico
  front/public/robots.txt
  front/server/tsconfig.json
  front/tailwind.config.ts
  front/tsconfig.json
  package.json
Labels: api, front

chore: Remove unused TypeScript configuration file for server
  front/server/tsconfig.json
Labels: front

feat: Add type definitions for CORS and update dependencies in package.json files
  api/package.json
  bun.lockb
  front/package.json
  package.json
Labels: api, front

feat: Add path alias for utils in TypeScript configuration
  api/tsconfig.json
Labels: api

feat: Update Nuxt.js configuration to include runtime config and disable auto-imports
  front/nuxt.config.ts
Labels: front

refactor: minor tweaks on naive ui plugin
  front/plugins/naive-ui.ts
Labels: front

feat: Add qs dependency to package.json
  bun.lockb
  package.json
Labels: none

feat: Add CORS middleware and increase JSON payload limit in Express app
  api/src/index.ts
Labels: api

feat: Add tag router for managing tags in the API
  api/src/routes/router.ts
  api/src/routes/tag/router.ts
Labels: api

feat: Export additional types for notes and tags from models
  api/src/types.ts
Labels: api

feat: Add utility function for calculating object differences
  front/composables/useUtils.ts
Labels: front

feat: Create index page with note view grid component
  front/pages/index.vue
Labels: front

feat: Implement API client and utility functions for notes and tags management
  api/src/client.ts
  api/src/utils.ts
  front/composables/useApi.ts
Labels: api, front

feat: Enhance note controller with pagination, filtering, and error handling
  api/src/controllers/note/index.ts
Labels: api

feat: Implement tag controller with CRUD operations
  api/src/controllers/tag/index.ts
Labels: api

feat: Refactor Note model to include state and tags, and update read/write interfaces
  api/src/models/Note.ts
Labels: api

feat: Add Tag model with read and write interfaces
  api/src/models/Tag.ts
Labels: api

feat: Add grid view for notes with state-based columns and add button
  front/components/Note/View/Grid.vue
  front/components/Note/View/Grid/AddButton.vue
  front/components/Note/View/Grid/Column.vue
Labels: front

feat: Add ManageModal component for creating and editing notes with validation
  front/components/Note/ManageModal.vue
Labels: front

feat: Add DetailsDrawer component for viewing and editing notes with state and tags
  front/components/Note/DetailsDrawer.vue
Labels: front

feat: Add Card component for displaying notes with due date, tags, and user avatars
  front/components/Note/Card.vue
Labels: front

feat: Update app layout with theme provider and dark mode support
  front/app.vue
Labels: front

chore: Update uuid package
  api/package.json
  bun.lockb
Labels: api

chore: Update .gitignore to exclude API uploads directory
  .gitignore
Labels: none

feat: Implement image upload functionality for notes and create uploads directory
  api/src/controllers/note/index.ts
  api/src/index.ts
  api/src/routes/note/router.ts
  api/src/utils.ts
Labels: api

feat: Add uploads base URL to runtime configuration
  front/nuxt.config.ts
Labels: front

feat: Update note cover image source to use uploads base URL
  front/components/Note/DetailsDrawer.vue
Labels: front

feat: Refactor note and tag controllers to use TypedRequest for better type safety
  api/src/controllers/note/index.ts
  api/src/controllers/tag/index.ts
  api/src/utils.ts
Labels: api

feat: Enhance note creation and update to handle tags with automatic saving and type support
  api/src/controllers/note/index.ts
  api/src/models/Note.ts
Labels: api

feat: Remove redundant tag creation logic from note save handler
  front/components/Note/DetailsDrawer.vue
Labels: front

feat: Update pagination settings in note grid to increase limit
  front/components/Note/View/Grid/Column.vue
Labels: front

feat: Add environment configuration and update scripts for API and frontend
  .env.example
  api/.env.example
  api/package.json
  front/nuxt.config.ts
  front/package.json
Labels: api, front

feat: Update note sorting and refactor tag handling
  api/src/controllers/note/index.ts
  api/src/models/Note.ts
Labels: api

feat: Refactor tag selection into a separate component and update note details drawer
  front/components/Note/DetailsDrawer.vue
  front/components/Tags/SelectInput.vue
Labels: front

feat: Integrate TagsSelectInput component into ManageModal for improved tag management
  front/components/Note/ManageModal.vue
Labels: front

fix: reorder import statements
  front/components/Note/View/Grid.vue
Labels: front
