Repository baptiste-jullion/b3-todo, changes with the labels that .github/labeler.yml gives for each.
All labels: api, front, tests

.github/labeler.yml:

# .github/labeler.yml

# Label for API-related changes
api:
  - 'api/**'

# Label for Frontend-related changes
front:
  - 'front/**'

# Label for Test-related changes
tests:
  - 'tests/**'

feat: Add logging middleware to track request details and create log files
  api/src/index.ts
  api/src/middlewares/logger.ts
  api/tsconfig.json
Labels: api

Update MODELS.md
  api/MODELS.md
Labels: api

Update MODELS.md
  api/MODELS.md
Labels: api

refactor: router
  api/src/routes/api/note/router.ts
  api/src/routes/api/router.ts
  api/src/routes/api/tag/router.ts
  api/src/routes/api/task/router.ts
Labels: api

feat: Add bcrypt and its types as dependencies
  api/package.json
  bun.lockb
Labels: api

feat: Add JWT authentication routes and update dependencies
  .env.example
  api/package.json
  api/src/routes/auth/router.ts
  bun.lockb
  package.json
Labels: api

feat: Update routing to include authentication and handle 404 errors
  api/src/index.ts
Labels: api

feat: Refactor models to remove version keys and add User model with password hashing
  api/src/models/Note.ts
  api/src/models/Tag.ts
  api/src/models/Task.ts
  api/src/models/User.ts
Labels: api

feat: Implement login functionality with JWT authentication and password validation
  api/src/controllers/auth/login/index.ts
Labels: api

feat: Add user registration endpoint with error handling
  api/src/controllers/auth/register/index.ts
Labels: api

feat: Add token verification endpoint for JWT authentication
  api/src/controllers/auth/token/index.ts
Labels: api

feat: Add authentication methods for login and registration
  api/src/client.ts
Labels: api

feat: Replace bcrypt with argon2 for password hashing
  api/package.json
  bun.lockb
Labels: api

feat: Implement JWT authentication middleware for API routes
  api/src/index.ts
  api/src/middlewares/auth.ts
Labels: api

feat: Remove token verification endpoint for JWT authentication
  api/src/controllers/auth/token/index.ts
Labels: api

feat: Migrate authentication to argon2 and enhance user identification in requests
  api/src/controllers/auth/login/index.ts
  api/src/controllers/auth/register/index.ts
  api/src/controllers/note/index.ts
  api/src/middlewares/logger.ts
  api/src/models/Note.ts
  api/src/models/User.ts
  api/src/routes/auth/router.ts
  api/src/utils.ts
Labels: api

feat: Update development script to include host option for Nuxt
  front/package.json
Labels: front

Revert "feat: Update development script to include host option for Nuxt"
  front/package.json
Labels: front

feat: Update environment configuration and add start scripts for API and Nuxt
  .env.example
  api/package.json
  front/nuxt.config.ts
  front/package.json
  package.json
Labels: api, front

feat: Add environment variable checks and update .gitignore for production
  .gitignore
  api/src/index.ts
  api/src/utils.ts
  front/app.vue
  front/tsconfig.json
Labels: api, front

feat: Update start script to install dependencies before starting the application
  package.json
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

feat: Add JWT cookie name to environment configuration and update scripts for development
  .env.example
  api/package.json
  front/nuxt.config.ts
Labels: api, front

feat: Refactor authentication middleware and routes; consolidate auth logic and improve error handling
  api/src/index.ts
  api/src/middlewares/auth.ts
  api/src/middlewares/logger.ts
  api/src/routes/api/auth/router.ts
  api/src/routes/api/router.ts
  api/src/routes/auth/router.ts
  api/tsconfig.json
Labels: api

feat: Rename display_name to username in User model and update type exports
  api/src/models/User.ts
  api/src/types.ts
Labels: api

feat: Update Nuxt version to 3.14.1592 in package.json
  bun.lockb
  front/package.json
Labels: front

feat: Refactor API client to support custom headers and enhance authentication methods
  api/src/client.ts
Labels: api

feat: Refactor API integration to use new api instance and streamline component code
  front/components/Note/Card.vue
  front/components/Note/DetailsDrawer.vue
  front/components/Note/ManageModal.vue
  front/components/Note/View/Grid/Column.vue
  front/components/Tags/SelectInput.vue
  front/composables/useApi.ts
  front/composables/useAuth.ts
  front/middleware/auth.global.ts
  front/plugins/01.api.ts
Labels: front

feat: Add authentication page with login and registration forms; implement form validation and user session management
  front/pages/auth.vue
  front/pages/index.vue
Labels: front

feat: minor tweaks
  bun.lockb
  front/components/Note/Card.vue
  front/package.json
  front/pages/auth.vue
Labels: front

feat: update dependencies in package.json for improved stability and performance
  bun.lockb
  front/package.json
  package.json
Labels: front

style: run format
  api/src/routes/api/auth/router.ts
  api/src/routes/api/tag/router.ts
  front/nuxt.config.ts
Labels: api, front

feat: implement JWT access and refresh token handling; update environment variables and add refresh endpoint
  .env.example
  api/src/controllers/auth/login/index.ts
  api/src/controllers/auth/refresh/index.ts
  api/src/controllers/auth/register/index.ts
  api/src/middlewares/auth.ts
  api/src/routes/api/auth/router.ts
  api/src/types.ts
Labels: api

feat: remove JWT cookie name from Nuxt configuration
  front/nuxt.config.ts
Labels: front

feat: enhance authentication flow with improved cookie handling and token generation
  api/src/controllers/auth/login/index.ts
  api/src/controllers/auth/refresh/index.ts
  api/src/controllers/auth/register/index.ts
  api/src/utils.ts
Labels: api

feat: refactor API response handling and simplify authentication flow
  front/composables/useApi.ts
  front/composables/useAuth.ts
Labels: front

feat: add cookie-parser dependency for improved cookie handling
  api/package.json
  bun.lockb
Labels: api

feat: disable server-side rendering in Nuxt configuration
  front/nuxt.config.ts
Labels: front

feat: simplify authentication middleware by using localStorage for access token
  front/middleware/auth.global.ts
Labels: front
