Repository baptiste-jullion/b3-todo, changes with the labels that .github/labeler.yml gives for each.
All labels: api, front, tests

feat: enhance API client with localStorage token management and refresh token handling
  api/src/client.ts
Labels: api

feat: add cookie-parser middleware and configure CORS for local development
  api/src/index.ts
Labels: api

feat: remove author filter from getNotes function to allow fetching notes by all users
  api/src/controllers/note/index.ts
Labels: api

feat: update Note model to omit password from author field and enhance population queries
  api/src/models/Note.ts
Labels: api

feat: refactor Note components to utilize handleAPIResponse for improved error handling and simplify user avatar management
  front/components/Note/Card.vue
  front/components/Note/View/Grid/Column.vue
Labels: front

feat: refactor authentication page to use tabs for login and registration, improving user experience
  front/pages/auth.vue
Labels: front

chore: update package dependencies for improved stability and performance
  api/package.json
  bun.lockb
  front/package.json
  package.json
Labels: api, front

feat: simplify API response handling by reducing conditional complexity
  front/composables/useApi.ts
Labels: front

feat: update task type exports to include read and write variants
  api/src/types.ts
Labels: api

feat: add task handling to note creation, enabling task association
  api/src/controllers/note/index.ts
Labels: api

feat: enhance note and task models to support task associations and population
  api/src/models/Note.ts
  api/src/models/Task.ts
Labels: api

feat: add task management features to note components, including task display and input
  front/components/Note/Card.vue
  front/components/Note/DetailsDrawer.vue
  front/components/Note/ManageModal.vue
Labels: front

feat: implement client API structure with authentication and notes management
  api/src/client.ts
  api/src/client/index.ts
  api/src/client/src/auth/index.ts
  api/src/client/src/base.ts
  api/src/client/src/notes/index.ts
  api/src/client/src/tags/index.ts
  api/src/types.ts
  api/tsconfig.json
  bun.lockb
  front/components/Note/Card.vue
  front/composables/useApi.ts
  front/plugins/01.api.ts
Labels: api, front

feat: update package.json to include main entry and exports for module compatibility
  api/package.json
Labels: api

feat: restructure API client and update import paths for modular organization
  api-client/bun.lockb
  api-client/index.ts
  api-client/package.json
  api-client/src/auth/index.ts
  api-client/src/base.ts
  api-client/src/notes/index.ts
  api-client/src/tags/index.ts
  api-client/tsconfig.json
  api/package.json
  api/src/types.ts
  bun.lockb
  front/plugins/01.api.ts
  package.json
Labels: api, front

feat: add VSCode settings for spell checking custom words
  .vscode/settings.json
Labels: none

fix: update import paths for API client and add link to api-client in package.json
  bun.lockb
  front/composables/useApi.ts
  front/package.json
Labels: front

refactor: remove cover image handling from note model and UI components
  api/MODELS.md
  api/src/controllers/note/index.ts
  api/src/models/Note.ts
  front/components/Note/ManageModal.vue
Labels: api, front

wip
  api-client/src/notes/index.ts
  api-client/src/notes/tasks/index.ts
  api/src/controllers/tag/index.ts
  api/src/controllers/task/index.ts
  api/src/routes/api/task/router.ts
  front/components/Note/Card.vue
  front/components/Note/Details.vue
  front/components/Note/DetailsDrawer.vue
  front/components/Note/ManageModal.vue
  front/composables/useUtils.ts
Labels: api, front

refactor: rename api-client to api-sdk and update related imports
  api-client/package.json
  api-sdk/bun.lockb
  api-sdk/index.ts
  api-sdk/package.json
  api-sdk/src/auth/index.ts
  api-sdk/src/base.ts
  api-sdk/src/notes/index.ts
  api-sdk/src/notes/tasks/index.ts
  api-sdk/src/tags/index.ts
  api-sdk/tsconfig.json
  api/src/models/Task.ts
  bun.lockb
  front/composables/useApi.ts
  front/package.json
  front/plugins/01.api.ts
  package.json
Labels: api, front

feat: enhance task management with state updates and user tracking
  api/src/controllers/task/index.ts
  front/components/Note/Card.vue
  front/components/Note/Details.vue
Labels: api, front

add idea config
  .idea/.gitignore
  .idea/b3-todo.iml
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/modules.xml
  .idea/vcs.xml
Labels: none

.github/labeler.yml:

# .github/labeler.yml

# Label for API-related changes
api:
  - 'api/**'

# Label for Frontend-related changes
front:
  - 'front/**'

# Label for Test-related changes
tests:
  - 'tests/**'
